<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="/aboutus"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="/clothing&accessories"><i class="fa fa-angle-double-right"></i>Clothing</a></li>
						<li><a href="/offer&sale"><i class="fa fa-angle-double-right"></i>Sales</a></li>
						<li><a href="/offer&sale"><i class="fa fa-angle-double-right"></i>Offer</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="/aboutus"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="/clothing&accessories"><i class="fa fa-angle-double-right"></i>Clothing</a></li>
						<li><a href="/offer&sale"><i class="fa fa-angle-double-right"></i>Sales</a></li>
						<li><a href="/offer&sale"><i class="fa fa-angle-double-right"></i>Offer</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="/aboutus"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="/clothing&accessories"><i class="fa fa-angle-double-right"></i>Clothing</a></li>
						<li><a href="/offer&sale"><i class="fa fa-angle-double-right"></i>Sales</a></li>
						<li><a href="/offer&sale"><i class="fa fa-angle-double-right"></i>Offer</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					
					<p class="h6">&copy All right Reserved.<a class="text-green ml-2" href="http://localhost:5000/" target="_blank">Ladies Choice</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>