<!--Vertical Nav BAr-->
        <div class="container-fluid" >
            <div class="row">
                <!--<div class=" col-md-3 col-sm-4 d-md-flex bg-danger pl-5 pr-2 min-vh-100 textColour  collapse" id="sidebar">-->
                <div class=" col-md-3 col-sm-4 d-md-flex bg-vertical-nav-bar pl-5 pr-2 min-vh-50 textColourWhite ">
                     <ul class="nav flex-column flex-nowrap">
                            
                            <li class="nav-item pt-5"><h4> Women</h4></li>
                            <!--Casual Wear-->
                            <li class="nav-item">
                        <a class="nav-link collapsed textColourWhite" href="#submenu1" data-toggle="collapse"data-target="#submenu1"><h6> Casual Clothes  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h6></a>
                                <div class="collapse" id="submenu1" aria-expanded="false">
                                    <ul class="flex-column pl-2 pb-0 mb-0 nav" style="list-style-type:disc;">
                                        <li class="nav-item "><a class="nav-link py-0 textColourWhite" href="/shalwarKameez"><p>Shalwaar Kameez</p></a></li>
                                   <li class="nav-item "><a class="nav-link py-0 textColourWhite" href="/women-top-&-shirts"><p>Women's Tops & shirts</p></a></li>
                                   <li class="nav-item "><a class="nav-link py-0 textColourWhite" href="/women-maxi"><p>Women's Maxi</p></a></li>

                                    </ul>
                                </div>
                            </li>
                            <!--Casual Wear End-->
                             <!--Accessories-->
                             <li class="nav-item">
                                <a class="nav-link collapsed textColourWhite" href="#submenu1" data-toggle="collapse" data-target="#submenu2"><h6> Accessories  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h6></a>
                                <div class="collapse" id="submenu2" aria-expanded="false">
                                    <ul class="flex-column pl-2 pb-0 mb-0 nav" style="list-style-type:disc;">
                                          <li class="nav-item "><a class="nav-link py-0 textColourWhite" href="/bag"><p>Bag</p></a></li>
                                    <li class="nav-item "><a class="nav-link py-0 textColourWhite" href="/shoes"><p>Shoes</p></a></li>  
                                    </ul>
                                </div>
                            </li>
                             
                             <!--Accessories end-->
                             <!--Traditional Wear-->
                             <li class="nav-item">
                                <a class="nav-link collapsed textColourWhite" href="#submenu1" data-toggle="collapse" data-target="#submenu3"><h6>Traditional Wear<i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h6></a>
                                <div class="collapse" id="submenu3" aria-expanded="false">
                                    <ul class="flex-column pl-2 pb-0 mb-0 nav" style="list-style-type:disc;">
                                        <li class="nav-item "><a class="nav-link py-0 textColourWhite" href="/kashmiri"><p>Kashmiri Dress
                                        </p></a></li> 
                                    </ul>
                                </div>
                            </li>
                             <li class="nav-item pt-1"><h4> Children </h4></li>
                            <!--Casual Wear-->
                            <li class="nav-item">
                                <a class="nav-link collapsed textColourWhite" href="#submenu1" data-toggle="collapse" data-target="#submenu4"><h6> Casual Clothes  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h6></a>
                                <div class="collapse" id="submenu4" aria-expanded="false">
                                    <ul class="flex-column pl-2 pb-0 mb-0 nav" style="list-style-type:disc;">
                                        <li class="nav-item "><a class="nav-link py-0 textColourWhite" href="/baby-frocks"><p>Baby frocks</p></a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--Casual Wear End-->
                             <!--Accessories-->
                             <li class="nav-item">
                                <a class="nav-link collapsed textColourWhite" href="#submenu1" data-toggle="collapse" data-target="#submenu5"><h6> Accessories  <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h6></a>
                                <div class="collapse" id="submenu5" aria-expanded="false">
                                    <ul class="flex-column pl-2 pb-0 mb-0 nav" style="list-style-type:disc;">
                                      <li class="nav-item "><a class="nav-link py-0 textColourWhite" href="/baby-toys"><p>Baby Toys</p></a></li>    
                                    <li class="nav-item "><a class="nav-link py-0 textColourWhite" href="/baby-bags"><p>Baby bags</p></a></li>  
                                    </ul>
                                </div>
                            </li>
                             
                             <!--Accessories end-->
                             <!--Traditional Wear-->
                             <li class="nav-item">
                                <a class="nav-link collapsed textColourWhite" href="#submenu1" data-toggle="collapse" data-target="#submenu6"><h6> Traditional Wear<i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h6></a>
                                <div class="collapse" id="submenu6" aria-expanded="false">
                                    <ul class="flex-column pl-2 pb-0 mb-0 nav" style="list-style-type:disc;">
                                    </ul>
                                </div>
                            </li>
                             
                             <!--Traditional Wear end-->
                            
                        </ul>
                    
                </div>
                <!--Cards-->
               <div class="col-md-9">
                  
                  <!--First Row start of Cards-->
                
                 <div class="row">
                   <div class="col-sm-12">  
                       {{> _errors}}
                        {{> _msg}}     
                    <h1 class="text-center" style="margin-top: 40px; color: #d35566;">Our Products</h1>
                    <hr>
                    <!--Second Row start of Cards-->
                    <div class="row"> 
                    <!--yahan-->
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                            <h3 class="text-center" style="margin-top: 20px; color: #e27382;">Ladies Shalwar Kameez</h3>
                            </div>
                       </div>
                        <div class="card">
                            <img src="img/casual-shalwar-kameez-1.jpg" alt="Denim Jeans" style="width:100%">
                            <h3>Shalwar Kamez</h3>
                            <p>We provide best Quality Shalwaar Kameez With Best Stuff and best quality of exports.We have variety of Shalwar Kameez</p>
                           <a href="/shalwarKameez"> <button class="btn btn-lg ">Shalwar Kamez </button> </a>
                        </div>
                    </div>
                      <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                            <h3 class="text-center" style="margin-top: 20px; color: #e27382;">Ladies Shoes</h3>
                            </div>
                       </div>
                        <div class="card">
                            <img src="img/shoes5.jpg" alt="Denim Jeans" style="width:100%">
                            <h3>Ladies Shoes</h3>
                             <p>We provide best Quality Ladies Shoes With Best Stuff, quality of exports.We have variety of shoes of different.</p>
                             <a href="/shoes"><button class="btn btn-lg">Ladies Shoes </button></a>
                        </div>
                      </div>
                  <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                        <h3 class="text-center" style="margin-top: 20px; color: #e27382;">Ladies Casual Shirt</h3>
                        </div>
                   </div>
                    <div class="card">
                        <img src="img/casual-shalwar-kameez-2.jpg" alt="Denim Jeans" style="width:100%">
                        <h3>Casual Shirt</h3>
                        <p>We provide best Quality Shalwaar Kameez With Best Stuff and best quality of exports.We have variety of Shalwar Kameez</p>
                        <a href="/women-top-&-shirts"> <button class="btn btn-lg">Ladies Casual Shirt </button> </a>
                    </div>
                  </div>
                    <!--yahan-->
                    </div>
                  
                
                    <!--Second Row End of Cards-->
                   
                    <hr>
                    <!--third cards-->
                    <div class="row"> 
                        <!--yahan-->
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                <h3 class="text-center" style="margin-top: 20px; color: #e27382;">Baby Frocks</h3>
                                </div>
                           </div>
                            <div class="card">
                                <img src="img/babay-frock.jpg" alt="Denim Jeans" style="width:100%">
                                <h3>Baby Frocks</h3>
                                <p>We provide best Quality Baby frocks With Best Stuff and best quality of exports.We have variety of Baby frocks</p>
                                <a href="/baby-frocks"><button class="btn btn-lg ">Baby Frocks</button></a>
                            </div>
                        </div>
                          <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                <h3 class="text-center" style="margin-top: 20px; color: #e27382;">Toddler Toys</h3>
                                </div>
                           </div>
                            <div class="card">
                                <img src="img/toddlerToys.jpg" alt="Denim Jeans" style="width:100%">
                                <h3>Toddler Toys</h3>
                                <p>We provide best Quality Toddler Toys With Best Stuff and best quality of exports.We have variety of Toddler Toys</p>
                                <a href="/baby-toys"><button class="btn btn-lg">Toddler Toys</button></a>
                            </div>
                          </div>
                      <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                            <h3 class="text-center" style="margin-top: 20px; color: #e27382;">Baby Caring Bags</h3>
                            </div>
                       </div>
                        <div class="card">
                            <img src="img/babay-bag.jpg" alt="Denim Jeans" style="width:100%">
                            <h3>Bags</h3>
                             <p>We provide best Quality Toddler Bags With Best Stuff and best quality of exports.We have variety of Toddler Bags</p>
                            <a href="baby-bags"> <button class="btn btn-lg">Bags</button> </a>
                        </div>
                      </div>
                        <!--yahan-->
                        </div>
                  <hr>
              <!--Third Row End of Cards-->
                   </div>
                   </div>


                  
              </div>
            </div>
                
            </div>
          
       
