<div class="row" style="margin-top: 100px; margin-bottom: 200px; ">
     <div class="col-md-4"><h1></h1></div>
    <div class="col-md-4"><h1>No search found!</h1></div>
    <div class="col-md-4"><h1></h1></div>
</div>