<div class="row my-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
       <div class="row mt-4">
            <div class="col-md-8 mb-3"><h1 class="text-center ">FeedbackTable</h1></div>
            <div class="col-md-4 mb-3">
                <a href="/admin-panel">
                    <button type="button" class="btn btn-primary btn-lg" style="font-size: 20px !important;">Back to main menu
                    </button>
                </a>
            </div>
        </div>
    <table class="table table-warning">
        <thead>
            <tr class="table-info">
            <th >Full Name</th>
            <th >Email</th>
            <th >Mobile Number</th>
            <th >Message</th>
            </tr>
        </thead>
        <tbody>
        {{#each feedbacks}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.message}}</td>
            </tr>
        {{/each}}
        </tbody>
        </table>
    </div>
     <div class="col-md-2"></div>
</div>